@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 24 3% 15%;
    --card: 60 6% 90%;
    --card-foreground: 24 3% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 3% 15%;
    --primary: 60 8% 89%;
    --primary-foreground: 24 3% 15%;
    --secondary: 17 23% 77%;
    --secondary-foreground: 24 3% 15%;
    --muted: 19 10% 69%;
    --muted-foreground: 24 3% 15%;
    --accent: 19 10% 69%;
    --accent-foreground: 24 3% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 19 10% 69%;
    --input: 19 10% 69%;
    --ring: 19 10% 69%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-lato;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-gelasio text-[#312F2B];
  }
}