
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 14% 23%;
    --foreground: 0 0% 100%;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 210 14% 23%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 74% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 100%;
    --accent: 168 74% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14%;
    --input: 0 0% 14%;
    --ring: 168 74% 42%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border selection:bg-accent/20 selection:text-white;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-white;
  }
}

@layer utilities {
  .glass-morphism {
    @apply backdrop-blur-xl bg-white/5 border border-white/10;
  }
}
